<h1>Greetings!</h1>

<div class="media-body">
  <h2 class="media-heading"><%= @user.email %></h2>


  <%= @user.items.each do |item| %>
    <table>
      <td><%= render item %></td>
    </table>
  <% end %>


  <div class="media">
    <%= render 'items/form', item: Item.new, user: @user %>
  </div>
</div>
