<div class="abouthead">
  <h1>About Blocitoff<br> <small>Blocitoff is a to-do list app highlighted by its auto-delete function. <br> Keep yourself on track with Blocitoff!</small></h1>
</div>

<br>

<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Auto Delete</h3>
  </div>
  <div class="panel-body">
    After 7 days, tasks on your Blocitoff to-do list will auto delete. This way, your to-do list never gets cluttered with expired tasks.
  </div>
</div>

<br>

<div class="panel panel-success">
  <div class="panel-heading">
    <h3 class="panel-title">Easy to Use</h3>
  </div>
  <div class="panel-body">
    Blocitoff's interface makes it easy for you to check off tasks as you complete them.
  </div>
</div>

<br>

<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">For the Mobile You!</h3>
  </div>
  <div class="panel-body">
    Pen and paper was so 2013 :-), Blocitoff allows you to take your to-do list with you.
  </div>
</div>
