<div class="abouthead">
  <h1>About Blocitoff<br> <small>Blocitoff is a to-do list app highlighted by its auto-delete function. <br> Keep yourself on track with Blocitoff!</small></h1>
</div>

<br>

<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <div class="caption1">
        <h2>Auto Delete</h2>
        <p>After 7 days, tasks on your Blocitoff to-do list will auto delete. This way, your to-do list never gets cluttered with expired tasks.<br></p>
      </div>
    </div>
  </div>

  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <div class="caption2">
        <h2>Easy to Use</h2>
        <p>Blocitoff's interface makes it easy for you to check off tasks as you complete them.<br><br></p>
      </div>
    </div>
  </div>

  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <div class="caption3">
        <h2>For the Mobile You</h2>
        <p>Pen and paper was so 2013 :-), Blocitoff allows you to take your to-do list with you.<br><br></p>
      </div>
    </div>
  </div>
</div>

<div class="row">
    <%= link_to "Sign In", new_user_session_path, class: 'btn btn-info' %>
    <%= link_to "Sign Up", new_user_registration_path, class: 'btn btn-success' %>
</div>
