<h4>Add an item</h4>
<%= form_for [user, item] do |f| %>
  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, class: 'form-control' %>
  </div>
  <%= f.submit "Submit item", class: 'btn btn-default' %>
<% end %>
