<%= content_tag :div, class: 'media', id: "item-#{item.id}" do %>
  <div class="media">
    <div class="media-body">
      <p><%= item.name %></p>
      <%= link_to "", item, method: :delete, class: 'glyphicon glyphicon-ok' %>
    </div>
  </div>
<% end %>
