// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.caption1 {
  color: #8adaf9;
}

.caption2 {
  color: #8feacc;
}

.caption3 {
  color: #77f085;
}

.abouthead {
  color: #68dff9;
  font-size: 42px;
  font-style: strong;
}

.sign {
  align-items: center;
}

#index-title {
  text-align: center;
  font-size: 23px;
  color: #9eebfa;
}

// .posts {
//   border: solid;
//   margin: 5px;
//   padding: 5px;
//   height: 200px;
// }

section {
  background: #5998ff;
  border-style: solid;
  border-width: 5px;
  margin: 5px 5px 5px 5px;
  padding: 5px 5px 5px 5px;
}
